In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files #Mengimport file ke google colab
filenya = files.upload()

Saving Mobile_phone_price.csv to Mobile_phone_price.csv

In [ ]:
df = pd.read_csv('Mobile_phone_price.csv')

In [ ]:
df.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799

In [ ]:
df.shape #Mengetahui jumlah baris dan kolom dari sebuah dataframe

(407, 8)

In [ ]:
#mengetahui nilai/data unik dari sebuah kolom
df['RAM '].unique()

array(['6 GB', '12 GB', '8 GB', '4 GB', '3 GB', '2 GB', '4GB', '8GB',
       '6GB', '12GB', '3GB', '2GB', '5GB', '12', '3', '6', '8', '4', '16',
       '2'], dtype=object)

In [ ]:
df.describe()

       Battery Capacity (mAh)
count              407.000000
mean              4676.476658
std                797.193713
min               1821.000000
25%               4300.000000
50%               5000.000000
75%               5000.000000
max               7000.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [ ]:
df.nunique()

Brand                      16
Model                     239
Storage                    13
RAM                        20
Screen Size (inches)       41
Camera (MP)               143
Battery Capacity (mAh)     48
Price ($)                  89
dtype: int64

In [ ]:
df['Price ($)'].unique()

array(['999', '1199', '899', '279', '799', '249', '699', '329', '449',
       '199', '299', '379', '179', '729', '599', '139', '189', '399',
       '259', '159', '229', '499', '129', '529', '369', '1099', '169',
       '99', '459', '239', '1299', '429', '659', '269', '359', '$799 ',
       '$399 ', '$699 ', '$329 ', '$999 ', '$549 ', '$1,299 ', '$899 ',
       '$449 ', '$319 ', '$269 ', '$349 ', '$279 ', '$249 ', '$299 ',
       '$969 ', '$1,199 ', '$149 ', '$139 ', '$99 ', '$199 ', '$169 ',
       '$499 ', '$179 ', '$219 ', '$229 ', '$239 ', '$109 ', '$189 ',
       '$389 ', '$309 ', '$369 ', '$129 ', '$849 ', '$469 ', '$209 ',
       '$119 ', '$339 ', '$429 ', '$159 ', '$379 ', '$289 ', '130', '749',
       '149', '969', '649', '349', '419', '1399', '1999', '119', '319',
       '1049'], dtype=object)

In [ ]:
df['Screen Size (inches)'].unique()

array(['6.1', '6.8', '6.7', '6.67', '6.4', '6.55', '6.78', '6.43', '6.5',
       '6.62', '5.4', '6.2', '6.51', '6.6', '4.7', '6.58', '6.52', '6.44',
       '6.53', '6.56', '6.8 + 3.9', '4.5', '6.39', '5.9', '5.5', '6.81',
       '5.99', '6.82', '6.3', '6.22', '6', '6.35', '6.9', '6.76', '6.49',
       '6.72', '5.7', '6.47', '7.6 (unfolded)', '6.15', '6.57'],
      dtype=object)

In [ ]:
#cari brand HP yang screenya ada 2
df[df['Screen Size (inches)'] == '6.8 + 3.9']

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
88,LG,Wing,256GB,8GB,6.8 + 3.9,64MP + 13MP + 12MP,4000,$999

In [ ]:
s = '123'
s.isnumeric()

True

In [ ]:
#simbol ~ = False
df[df['Price ($)'].str.isnumeric() == False]
df[~df['Price ($)'].str.isnumeric()]

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
77,Apple,iPhone 13,128GB,4GB,6.1,12MP + 12MP,2815,$799
78,Samsung,Galaxy S21,128GB,8GB,6.2,64MP + 12MP + 12MP,4000,$799
79,OnePlus,Nord 2,128GB,8GB,6.43,50MP + 8MP + 2MP,4500,$399
80,Google,Pixel 6,128GB,8GB,6.4,50MP + 12MP,4600,$699
81,Xiaomi,Poco X4 Pro,128GB,6GB,6.67,48MP + 8MP + 2MP + 2MP,5160,$329
...,...,...,...,...,...,...,...,...
283,Oppo,A31,128GB,4GB,6.5,12MP + 2MP + 2MP,4230,$199
284,Vivo,Y15,64GB,4GB,6.35,13MP + 8MP + 2MP,5000,$189
285,Realme,Narzo 10A,32GB,3GB,6.5,12MP + 2MP + 2MP,5000,$129
286,Xiaomi,Redmi 9T,128GB,4GB,6.53,48MP + 8MP + 2MP + 2MP,6000,$229
287,Samsung,Galaxy A30s,64GB,4GB,6.4,25MP + 8MP + 5MP,4000,$279

In [ ]:
#Membuat semua isi kolom price menjadi tipe integer
df['Price ($)'] = df['Price ($)'].str.replace('$', '')
df['Price ($)'] = df['Price ($)'].str.replace(',', '')
df['Price ($)'] = df['Price ($)'].astype(int)

<ipython-input-16-cdea7f2dcb36>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price ($)'] = df['Price ($)'].str.replace('$', '')

In [ ]:
s = '$123'
s.replace('$', '')

'123'

In [ ]:
df.describe()

       Battery Capacity (mAh)    Price ($)
count              407.000000   407.000000
mean              4676.476658   408.314496
std                797.193713   299.684768
min               1821.000000    99.000000
25%               4300.000000   199.000000
50%               5000.000000   299.000000
75%               5000.000000   499.000000
max               7000.000000  1999.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    int64
dtypes: int64(2), object(6)
memory usage: 25.6+ KB

In [ ]:
df['RAM '].unique()

array(['6 GB', '12 GB', '8 GB', '4 GB', '3 GB', '2 GB', '4GB', '8GB',
       '6GB', '12GB', '3GB', '2GB', '5GB', '12', '3', '6', '8', '4', '16',
       '2'], dtype=object)

In [ ]:
#untuk kolom RAM
df['RAM '] = df['RAM '].str.replace(' ', '')
df['RAM '] = df['RAM '].str.replace('GB', '')
df['RAM '] = df['RAM '].astype(int)

In [ ]:
s = '12 GB'
s.replace(' GB', '')

'12'

In [ ]:
import re #import lib regex

In [ ]:
s = '128 GB' #Implementasi regex untuk mengapus karakter
re.sub('\D', '', s)

'128'

In [ ]:
df.describe()

             RAM   Battery Capacity (mAh)    Price ($)
count  407.000000              407.000000   407.000000
mean     5.837838             4676.476658   408.314496
std      2.431980              797.193713   299.684768
min      2.000000             1821.000000    99.000000
25%      4.000000             4300.000000   199.000000
50%      6.000000             5000.000000   299.000000
75%      8.000000             5000.000000   499.000000
max     16.000000             7000.000000  1999.000000

In [ ]:
df.sort_values(by = ['Battery Capacity (mAh)','Price ($)'])

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
32,Apple,iPhone SE (2nd Gen),64 GB,3,4.7,12,1821,399
62,Apple,iPhone SE (2020),64 GB,3,4.7,12,1821,399
289,Apple,iPhone SE (2020),64,3,4.7,12,1821,399
333,Apple,iPhone SE (2020),64,3,4.7,12,1821,399
379,Apple,iPhone SE (2020),128,3,4.7,12,1821,449
...,...,...,...,...,...,...,...,...
258,Samsung,Galaxy M31s,128GB,8,6.5,64MP + 12MP + 5MP + 5MP,6000,349
224,Samsung,Galaxy M31s,128GB,6,6.5,64MP + 12MP + 5MP + 5MP,6000,379
112,Asus,ROG Phone 5,128GB,8,6.78,64MP + 13MP + 5MP,6000,999
208,Samsung,Galaxy M62,128GB,8,6.7,64MP + 12MP + 5MP + 5MP,7000,429
334,Samsung,Galaxy M51,128,6,6.7,64+12+5+5,7000,449

In [ ]:
df.nlargest(5, 'Battery Capacity (mAh)')

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
208,Samsung,Galaxy M62,128GB,8,6.7,64MP + 12MP + 5MP + 5MP,7000,429
334,Samsung,Galaxy M51,128,6,6.7,64+12+5+5,7000,449
20,Xiaomi,Redmi 10 Prime,128 GB,6,6.5,50 + 8 + 2 + 2,6000,179
29,Realme,9i,128 GB,4,6.5,50 + 2 + 2,6000,189
35,Realme,C25s,128 GB,4,6.5,13 + 2 + 2,6000,159

In [ ]:
df[df['Brand'] == 'Xiaomi']

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279
7,Xiaomi,Poco X3 Pro,128 GB,6,6.67,48 + 8 + 2 + 2,5160,249
15,Xiaomi,Mi 11 Lite 5G NE,128 GB,6,6.55,64 + 8 + 5,4250,329
20,Xiaomi,Redmi 10 Prime,128 GB,6,6.5,50 + 8 + 2 + 2,6000,179
24,Xiaomi,Redmi Note 10 Pro Max,128 GB,6,6.67,108 + 8 + 5 + 2,5020,279
...,...,...,...,...,...,...,...,...
380,Xiaomi,Redmi 9C,64,3,6.53,13+2+2,5000,119
386,Xiaomi,Redmi Note 10 Pro,128,6,6.67,108+8+5+2,5020,329
389,Xiaomi,Redmi 9T,128,4,6.53,48+8+2+2,6000,199
397,Xiaomi,Poco M3,128,4,6.53,48+2+2,6000,149
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349

In [ ]:
df.iloc[10:21, 0:3] #tampilkan index 10 sampai dengan 20 , hanya menampilkan kolom brand, model, storage

      Brand             Model Storage
10  OnePlus        Nord CE 5G   128 GB
11  Samsung    Galaxy A52s 5G   128 GB
12   Realme           GT Neo2   128 GB
13    Apple    iPhone 12 Mini    64 GB
14     Oppo       Find X3 Pro   256 GB
15   Xiaomi  Mi 11 Lite 5G NE   128 GB
16  Samsung        Galaxy S21   128 GB
17     Vivo          Y20s (G)   128 GB
18   Realme             8s 5G   128 GB
19     Oppo               A94   128 GB
20   Xiaomi    Redmi 10 Prime   128 GB

In [ ]:
df.loc[10:21, ['Brand','Storage ','Battery Capacity (mAh)']]

      Brand Storage   Battery Capacity (mAh)
10  OnePlus   128 GB                    4500
11  Samsung   128 GB                    4500
12   Realme   128 GB                    5000
13    Apple    64 GB                    2227
14     Oppo   256 GB                    4500
15   Xiaomi   128 GB                    4250
16  Samsung   128 GB                    4000
17     Vivo   128 GB                    5000
18   Realme   128 GB                    5000
19     Oppo   128 GB                    4310
20   Xiaomi   128 GB                    6000
21  Samsung   128 GB                    5000

In [ ]:
df.rename(columns = {'RAM ': 'RAM', 'Storage ': 'Storage'}) #Mengganti nama kolom

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12,6.8,108 + 10 + 10 + 12,5000,1199
2,OnePlus,9 Pro,128 GB,8,6.7,48 + 50 + 8 + 2,4500,899
3,Xiaomi,Redmi Note 10 Pro,128 GB,6,6.67,64 + 8 + 5 + 2,5020,279
4,Google,Pixel 6,128 GB,8,6.4,50 + 12.2,4614,799
...,...,...,...,...,...,...,...,...
402,Samsung,Galaxy Note20 5G,128,8,6.7,12+64+12,4300,1049
403,Xiaomi,Mi 10 Lite 5G,128,6,6.57,48+8+2+2,4160,349
404,Apple,iPhone 12 Pro Max,128,6,6.7,12+12+12,3687,1099
405,Oppo,Reno3,128,8,6.4,48+13+8+2,4025,429
406,Samsung,Galaxy S10 Lite,128,6,6.7,48+12+5,4500,649

In [ ]:
#List, tuple, dictionary
#List [1,2,3]
#dictionary {'ani': 20, 'Budi': 30}

In [ ]:
df.groupby('Brand').agg('mean').sort_values(by= 'Price ($)', ascending = False)

<ipython-input-33-39eaa6527a1d>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Brand').agg('mean').sort_values(by= 'Price ($)', ascending = False)

                RAM   Battery Capacity (mAh)    Price ($)
Brand
Sony        8.000000             4500.000000  1299.000000
Asus        7.500000             5000.000000   874.000000
Huawei      7.333333             4161.666667   783.166667
Apple       3.966667             2863.900000   745.666667
Google      7.428571             4019.857143   699.000000
OnePlus     8.666667             4415.000000   644.333333
LG          6.666667             4100.000000   615.666667
Blackberry  5.333333             3500.000000   499.000000
Samsung     6.025316             4936.708861   480.405063
Oppo        6.928571             4631.339286   376.142857
Vivo        6.828571             4750.000000   323.000000
CAT         3.000000             4200.000000   299.000000
Xiaomi      5.626866             5101.791045   282.880597
Motorola    4.521739             5021.739130   278.130435
Nokia       4.000000             4502.857143   244.714286
Realme      4.976744             5176.744186   206.906977

In [ ]:
df.groupby('Brand').agg(average_BC = ('Battery Capacity (mAh)', 'mean'), \
                        min_price = ('Price ($)', 'min'))

             average_BC  min_price
Brand
Apple       2863.900000        399
Asus        5000.000000        699
Blackberry  3500.000000        399
CAT         4200.000000        299
Google      4019.857143        499
Huawei      4161.666667        199
LG          4100.000000        349
Motorola    5021.739130         99
Nokia       4502.857143         99
OnePlus     4415.000000        299
Oppo        4631.339286        139
Realme      5176.744186         99
Samsung     4936.708861        129
Sony        4500.000000       1299
Vivo        4750.000000        139
Xiaomi      5101.791045        119

In [ ]:
pd.crosstab(df['Brand'], df['RAM ']) #menghitung tabulasi silang dari dua (atau lebih) faktor.

RAM         2   3   4   5   6   8   12  16
Brand
Apple        0  11  14   0   5   0   0   0
Asus         0   0   0   0   1   3   0   0
Blackberry   0   0   1   0   2   0   0   0
CAT          0   1   0   0   0   0   0   0
Google       0   0   0   0   2   5   0   0
Huawei       0   0   2   0   0  10   0   0
LG           0   0   0   0   2   1   0   0
Motorola     1   2  14   2   3   0   1   0
Nokia        4   8  10   0   4   2   0   0
OnePlus      0   0   0   0   3   8   4   0
Oppo         0   4  13   0  14  15  10   0
Realme       5   2  20   0   5  11   0   0
Samsung      1   4  26   0  29  12   6   1
Sony         0   0   0   0   0   1   0   0
Vivo         0   5   5   0   4  18   3   0
Xiaomi       0   1  23   0  33   9   1   0